@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300;400&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    font-family: 'font', sans-serif;
    background-image: url('../img/svg/background.svg');
    background-size: cover;
    background-repeat: no-repeat;
}


.flex {
    display: flex;
}

.link {

    padding: 10px;
    font-weight: 200;
    font-size: 18px;
    color: #dbdbdb;
    text-align: center;
    text-transform: uppercase;

}

.list {
    list-style: none;
}



.container {
    position: absolute;
    width: 100%;
    height: 100%;
}

/*
.logo-container {
    position: absolute;
    top: 40%;
    left: 45%;
    width: 18.875rem;
    height: 25.875rem;
    backdrop-filter: blur(11px) saturate(34%);
    -webkit-backdrop-filter: blur(11px) saturate(34%);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    transition: all 300ms;
}

.logo-container:hover   {
    opacity: 0.8;
    transform: scale(1.10);
}
*/
.services-list {
    position: relative;
    width: 100%;
    padding: 8px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
}

.services-item {
    position: relative;
    flex-direction: column;
    width: 15rem;
    height: 20rem;
    margin-right: 56px;
    padding: 10px;
    align-content: flex-start;
    backdrop-filter: blur(11px) saturate(34%);
    -webkit-backdrop-filter: blur(11px) saturate(34%);
    background-color: rgba(63, 63, 63, 0.651);
    border-radius: 12px;
    border: 1px solid rgba(70, 70, 70, 0.589);
    transition: all 400ms;
    box-shadow:
        2.5px 4.4px 4.2px rgba(0, 0, 0, 0.1),
        4.5px 8.1px 6.9px rgba(0, 0, 0, 0.067),
        6.9px 12.3px 9.7px rgba(0, 0, 0, 0.051),
        9.6px 17.3px 12.9px rgba(0, 0, 0, 0.042),
        13.2px 23.6px 16.9px rgba(0, 0, 0, 0.035),
        18.1px 32.5px 22.8px rgba(0, 0, 0, 0.03),
        29px 52px 36px rgba(0, 0, 0, 0.023);
    opacity: 0.7;
}

.services-item:hover {
    opacity: 0.96;
    transform: scale(1.05);
}

.services-item:last-child {
    margin-right: 0px;
}

.link img {
    position: absolute;
    top: 3;
    right: 18px;
}

.services-item:last-child img   {
    right: 0;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.button {
    text-align: center;
    padding: 150px 2px ;
}


@media (max-width: 1280px) {
    .services-list  {

    }

    .services-item  {
        width: 13rem;
        height: 20rem;
        margin-right: 10px;
    }
}

@media (max-width: 844px) {
    .body   {
        background-repeat: repeat-y;
    }

    .services-list  {
        justify-content: flex-start;
    }

    .services-item  {
        width: 8rem;
        height: 10rem;
        margin-right: 3px;
    }

    .link   {
        font-size: 10px;
    }
}

@media (max-width:420px) {
    .body   {
        background-image: url("../img/png/background.png");
        background-repeat: repeat;
        background-clip: content-box;
    }
    
    .services-list  {
        justify-content: space-between;
        align-content: flex-start;
    }

    .services-item  {
        width: 4rem;
        height: 4rem;
        margin-right: 1px;
    }
}